@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Zilla+Slab+Highlight:wght@700&display=swap');

@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}
.username1 {
    
    font-family:  DollFont;
    position: absolute;
    top: 1px;
    color: purple;
    

}

.logout {
    font-family:  DollFont;
    position: absolute;
    top: 650px;
    right: 699px;
    background-color: hotpink;
}


.mbttn {
    font-family:  DollFont;
    position: absolute;
    top: 650px;
    right: 980px;
    background-color: hotpink;
}

.feedbttn {
    font-family:  DollFont;
    position: absolute;
    top: 650px;
    right: 1290px;
    background-color: hotpink;
}

.profilePic {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: linear-gradient(to right top, #8b4288, #9e71a9, #b59ec7, #d2c9e0, #f5f5f5);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 100px;
    left: 200px;
    animation: float 4s ease-in-out infinite;
  }


  .profilecard {
    background-image: linear-gradient(to right top, #8b4288, #9e71a9, #b59ec7, #d2c9e0, #f5f5f5);
    border-radius: 79px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 500px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 100px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 900px;
    left: 250px
  }

span {
    font-family: 'Share Tech Mono', monospace;
    color: hotpink;
    

}

.profuser {
    position: absolute;
    top:60px;
    left: 23px;
    font-size: 50px;

}

.profage {
    position: absolute;
    top:95px;
    left: 23px;
    font-size: 50px;

}

.proffirst {
    position: absolute;
    top:139px;
    left: 23px;
    font-size: 50px;
  

}

.proflast {
    position: absolute;
    top:175px;
    left: 23px;
    font-size: 50px;
  

}

.profcountry {
    position: absolute;
    top:210px;
    left: 23px;
    font-size: 50px;
  

}


.dollcard {
    font-family:  DollFont;
    position: absolute;
    top: -2px;
    left: 363px;
    color: hotpink
}


@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}