@font-face {
    font-family: DollFont;
    src: url(/Users/brookestrz/Library/Fonts/Excelorate-Font.otf)

  }

  .postb {
    background-image: linear-gradient(to right top, #8b4288, #9e71a9, #b59ec7, #d2c9e0, #f5f5f5);
    position: absolute;
    top: -10px;
    left: 700px;
    width: 5=300px;


  }

.bub {
    position: absolute;
    left: 800px;
    top: 400px;


} 

.stallsender {
    font-family: DollFont;
    position: absolute;
    left: 830px;
    top: 900px;
    background-color: hotpink;


}