label {
  display: block;
  margin-top: 10px;
}



html{
  background-image: url(/Users/brookestrz/capstone1/img/images/dollstall.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100vw 100vh;

}
    